* {
    padding: center;
    margin: center;

}

body {
    background-color: #ededed;
}

.principal {
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 250px;

}
.in-flex:first-child {
    flex: 2;
    padding: 25px;
    background-color: #fff;
    margin: 20px;
    margin-bottom: 0px;
    
}
.in-flex div{
    padding:25px ;
    background-color: #fff;
    margin: 20px;
}
footer{
    background-color: #3d89dc;
}
